@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

html, body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(-270deg, #515151, #111111);
    background-size: 600% 600%;
    -webkit-animation: animBack 30s ease infinite;
    -moz-animation: animBack 30s ease infinite;
    animation: animBack 30s ease infinite;
}

@-webkit-keyframes animBack {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes animBack {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes animBack {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#login {
    background: linear-gradient(270deg, #d6b3ee, #cd2cce, #ce2c2c);
    background-size: 600% 600%;
    -webkit-animation: animBack 30s ease infinite;
    -moz-animation: animBack 30s ease infinite;
    animation: animBack 30s ease infinite;
}

#login input[type="text"] {
    border: none;
    outline: none;
    border-bottom: 1.6px solid white;
    background: none;
    transition: border-bottom 1s;
    text-align: center;
    vertical-align: bottom;
}
#login input[type="text"]:focus {
    border-bottom: 1.6px solid black;
    transition: border-bottom 1s;
    text-align: center;
}
.gamebutton {
    color: white;
    background-color: #2b2b2b;
    border: none;
    border-radius: 5px;
    padding: 7px 15px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.gamebutton:hover {
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    padding: 7px 15px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.gamebutton:disabled {
    color: white;
    background-color: #2b2b2b;
}
#settings {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    background-color: white
}
#settings input[type="text"] {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: solid 1.5px black
}
#settings input[type="text"]:focus {
    border-bottom: solid 1.5px red;
}
/* #settings {
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
    padding: 10px;
    background-color: darkgray;
}
#settings input {
    background-color: darkgray;
    border: none;
    border-bottom: solid black 1px;
}

#info {
    margin: 0px;
    padding: 10px;
}
#info img {
    vertical-align: middle;
    padding: 0px 5px 0px 0px;
}

#sharelink {
    width: calc((100% - 10px) - 25px)
}
#dropbtn {
    width: 20px;
    padding-right: 5px;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
        cursor: pointer;
}

.dropdown {
    transition: all 1s;
}
.dropdown.down {
    height: 100%;
    display: block;
    transition: height 1s;
}
.dropdown {
    height: 0%;
    display: none;
    transition: height 1s;
} */

#connecting {
    position: fixed;
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: gold;
    display: none;
}
#disconnected {
    position: fixed;
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: #c94040;
    display: none;
}
#banned {
    position: fixed;
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: #c94040;
    display: none;
}
#fullgame {
    position: fixed;
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: goldenrod;
    display: none;
}
#invalidgame {
    position: fixed;
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: goldenrod;
    display: none;
}
#invalidname {
    position: fixed;
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: goldenrod;
    display: none;
}

#board {
    position: absolute;
    font-size: 0;
    flex-wrap: nowrap;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#board canvas {
    width: 360px;
    height: 360px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#belowboard {
  position: absolute;
  flex-wrap: nowrap;
  font-size: 0;
  left: 50%;
  top: calc(50% + 370px);
  transform: translate(-50%, 0%);
}
#gamerematch {
  text-align: center;
  align-items: center;
}
#belowboard .text {
  box-shadow: 0 0 10px 3px black;
  font-size: 35px;
  color: white;
}
#gamerematch .gamebutton {
  display: inline-block;
}

#buttonset {
    position: absolute;
    bottom: 10px;
    left: 10px;

    border-radius: 5px;
    border: 2px solid white;
    box-shadow: 0 0 10px 3px black;

    background: #2b2b2b;
    color: white;
    transition: background-color 0.1s;

    font-family: "Open Sans", "sans-serif";
    font-size: 0;
    user-select: none;
}

#quit, #toggleready, #togglereset {
    font-size: 35px;
    padding: 5px;
    cursor: pointer;
    display: inline-block;
    background: #2b2b2b;
    color: white;
    transition: background-color 0.1s;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

#togglereset.reset { background: #FE9A2E; }

#quit:hover { background: darkred; }
#togglereset:hover { background: #DF7401; }
#toggleready:hover.ready { background-color: darkgreen; }
#toggleready:hover.notready { background-color: darkred; }

#xname.ready, #oname.ready, #toggleready.ready {
    background-color: green;
}

#xname.notready, #oname.notready, #toggleready.notready {
    background-color: red;
}

#turndude {
    color: white;
}

#login {
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 420px;
    flex-wrap: nowrap;
    white-space: nowrap;
    align-content: center;
    text-align: center;
    padding: 25px 25px 25px 25px;
    border-radius: 5px;
    box-shadow: 0 0 6px 0px black;
    transition: width 1s ease-in-out, height 1s ease-in-out;
}
#login .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
#login input[type="text"] {
    display: block;
    width: 100%;
    padding-top: 20px;
}

#xname, #oname, #xreset, #oreset {
    padding: 5px 10px;
    transition: background-color 0.1s;
}

#xreset, #oreset {
  background-color: #FE9A2E;
}

#xpoints, #opoints {
  font-weight: 700;
  color: black;
  transition: color 0.5s;
}

#xpoints.highlighted, #opoints.highlighted { color: white; }

#toggleAnim {
    background: #CE0000;
    color: white;
    padding: 5px 0px;
    font-family: "Open Sans", "sans-serif";
    font-size: 12px;
    cursor: pointer;
    border-radius: 2px;
    transition: background-color 0.3s;
    user-select: none;
    width: 100%;
    text-align: center;
}
#toggleAnim_:checked + #toggleAnim {
    background: #00af00
}
#toggleAnim:hover {
    background: #880000
}
#toggleAnim_:checked + #toggleAnim:hover {
    background: #006e00
}
#toggleAnim_ {
    display: none;
}

.mobile {
    display: none;
}

/*Mobile Changes*/
@media only screen and (max-width: 426px) {
    #login {
        width: 110%;
        height: 110%;
    }
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
    body {
        background: none;
    }
}

/*Tablet Changes*/
@media only screen and (max-width: 768px) {

}